*{
    margin: 0;
    padding: 0;
}
.cour

.courses-heading,.courses-heading h1 {
    display: flex;
    width: 100%;
    justify-content: center;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    color: black;
    margin-top: 40px;

}
.all-courses {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}
.webdev,.datascience,.mobiledev {
    width: 400px;
    height: 300px;
    margin: 10px; 
    border: 3px solid blueviolet;
    border-radius: 15px;
    box-shadow: inset 0 0 10px blueviolet;
    padding: 20px;
    text-align: center;
}
.webdev h2,.datascience h2,.mobiledev h2 {
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 20px;
    color: blueviolet;
}
.webdev p,.datascience p,.mobiledev p {
    font-size: 18px;
    color: black;
    margin-bottom: 20px;
}
.webdev a,.datascience a,.mobiledev a {
    display: inline-block;
    padding: 10px 20px;
    background-color: blueviolet;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
}
.webdev a:hover,.datascience a:hover,.mobiledev a:hover {
    background-color: darkblue;
}  
