*{
    margin: 0;
    padding: 0;
}
.all-courses {
    display: inline-block;
    width: 100%;
}
.all-courses .webdev {
    width: 400px;
    height: 300px;
    margin:auto; 
    border: 3px solid blueviolet;
    border-radius: 15px;
    box-shadow: inset 0 0 10px blueviolet;
    padding: 20px;
    text-align: center;
}
.all-courses .webdev h2 {
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 20px;
    color: blueviolet;
}
.all-courses .webdev p {
    font-size: 18px;
    color: black;
    margin-bottom: 20px;
}
.all-courses .webdev a {
    display: inline-block;
    padding: 10px 20px;
    background-color: blueviolet;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
}
.all-courses .webdev a:hover {
    background-color: darkblue;
}   