* {
    margin: 0;
    padding: 0;
}

header {
    top: 0;
    position: sticky;
    background: rgba(0, 0, 0, 0.7)url(/Images/background.jpg);
    background-blend-mode: darken;
    background-size: cover;
}
.navbar {
    display: flex;
    justify-content: left;
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    height: 40px;
    margin: 10px 20px;
    border: 3px cyan solid;
    border-radius: 100%;
}
.menu_left {
    display: flex;
    list-style: none;
    align-items: center;
    margin-left: 40px;
}
.menu_left li {
    margin: 0 15px;
}
.menu_left li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 6px 12px;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}