* {
    margin: 0;
    padding: 0;
}

header {
    top: 0;
    position: sticky;
    background: rgba(0, 0, 0, 0.7)url(/Images/background.jpg);
    background-blend-mode: darken;
    background-size: cover;
}

.navbar {
    display: flex;
    justify-content: left;
    margin: auto;
    position: relative;
    vertical-align: middle;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 40px;
    margin: 10px 20px;
    border: 3px cyan solid;
    border-radius: 100%;
}

.menu_left {
    display: flex;
    list-style: none;
    align-items: center;
    width: 75%;
}

.menu_left li {
    margin: 0 10px;
    position: relative;
}

.menu_left li a {
    text-decoration: none;
    color: white;
    font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 1px 10px;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 10px;
}
    
.menu_left li a:hover {
    color: rgb(132, 0, 255);
}

.dropdown {
    cursor: pointer;
}
.dropdown span{
    margin-left: -13px;
}

.material-symbols-outlined {
    vertical-align: middle;
    font-size: 40px;
}

.material-symbols-outlined:hover {
    color: cyan;
}

.dropdown-menu{
    display: none;
}

.menu_right {
    right: 20px;
    list-style: none;
    display: flex;
    align-items: center;
    width: 25%;
}
.menu_right li {
    margin: 0 30px;
    position: relative;
}
.menu_right li a{
color: yellow;
text-decoration: none;
}
.menu_right li a:hover{
    color: blueviolet;
}
.search-box {
    display: flex;
    align-items: center;
    border-radius: 20px;
    padding: 5px;  
    align-items: middle;
    background-color: white; 
}
.search-box input {
    border: none;
    padding: 7px 10px;
    outline: none;
}
.search-box button{
     border: none;
    padding: 5px 5px;
    outline: none;
    background-color: white;
    cursor: pointer;
    border-left: 0.5px solid rgba(128, 128, 128, 0.329);

}
.search-box button span{
    font-size: 20px;
}
.search-box button:hover span{
    color: blueviolet;
}
.banner{
    background: rgba(0, 0, 0, 0.7)url(/Images/background.jpg);
    background-blend-mode: darken;
    background-size: cover; 
    height: 100vh;
    cursor: all-scroll;
    justify-content: center;
    text-align: center;
    color: white;
}
.banner-content{
    position: relative;
    top: 40%;
    transform: translateY(-50%);
}
.banner-content h1{
    font-size: 40px;
    margin-bottom: 20px;
    color: aqua;
}
.banner-content p{
    font-size: 18px;
    margin-bottom: 30px;
    color: red;
    background-color: whitesmoke;
    border: 1px solid whitesmoke;
    border-radius: 10px;
    margin: 10px 300px;
}
.banner-content .btn{
    text-decoration: none;
    background-color: rgb(134, 4, 255);
    color: white;
    padding: 10px 20px;
    border-radius: 30px;
    font-size: 20px;
    transition: background-color 0.3s, color 0.3s;
}
.banner-content .btn:hover{
    background-color: whitesmoke;
    color: black;
}
