*{
    margin:0;
    padding: 0;
    font-family:sans-serif ;
}
.login-page{
    width: 100%;
    height: 100vh;
    display: flex;
    background: linear-gradient(whitesmoke);
    justify-content: center;
    align-items: center;
}
.login-form{
    margin-top: 7%;
    width: 350px;
    height: 400px;
    padding: 50px;
    background-color: white;
    box-shadow: 1px 1px 4px 5px blueviolet;
    border-radius: 14px;

}
.login-form p{
    font-size: 15px;
    font-weight: 500;
    color:black;
    margin-bottom: 5px;
    margin-left: 20px;
}
.login-form input{
    width: 80%;
    height: 30px;
    margin-bottom: 30px;
    margin-left: 20px;
    padding: 0px 10px;
    font-size: 14px;
    border: 1px solid gray;
    border-radius: 5px;
}
.login-form button{
    height: 35px;
    width: 100px;
    margin-left: 20px;
    margin-bottom: 20px;
    box-shadow: 1px 1px 4px 1px gray;
    background-color: blueviolet;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.login-form button:hover{
    background-color: indigo;
}
.message{
    margin-left: 20px;
    margin-top: 10px;
    font-size: 14px;
    color: red;
    font-weight: 500;
}
#login{
    text-align: center;
    font-size: 30px;
    margin-top: -35px;
    margin-bottom: 35px;
    color: blueviolet;
}
.footer{
    margin-left: 10px;
    margin-top: 100px;
    font-size: 14px;
    color: blueviolet;

    
}
.footer ul li{
    list-style: none;
    display: inline;
    margin: 0px 10px;
    cursor: pointer;
}
.footer ul li:hover{
    text-decoration: underline;
}
.footer a{
    text-decoration: underline;
    color: blueviolet;
    font-size: 14px;
}
.footer a:hover{
    color: black;
}