* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f4edfa;
    font-family: 'Roboto', sans-serif;
}

header {
    background: rgba(0, 0, 0, 0.7)url(/Images/wallpaper-hd-laptop.jpg);
    background-size: cover;
    background-blend-mode: darken;
    position: sticky;
    top: 0;
    z-index: 1000;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);

}

.navbar {
    margin: auto;
    display: flex;
    justify-content: left;
    align-items: left;
    padding: 7px 20px;
    width: 50%;
    margin-left: 0px;
}

.navbar .logo {
    padding: 1px 0px;
    display: flex;
    font-size: 24px;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    width: 150px;
}

.navbar .logo img {
    width: 40px;
    height: auto;
    border: #f4edfa 2px solid;
    border-radius: 150px;
    margin-right: 10px;
}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: left;
    align-items: left;
    text-align: left;
    margin: auto;
    margin-left: -30px;
}

.navbar ul li {
    margin: 0 20px;
    position: relative;
    transition: all 0.3s ease-in-out;
}

.navbar  ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 20px;
    padding: 10px 0;
    transition: all 0.3s ease-in-out;
}

.navbar  ul li a:hover {
    color: #9321f7;
    text-decoration: underline;
}
.navbar  ul li a.active {
    color: red;
    text-decoration: underline;
}
.navbar  ul li a.active:hover {
    color: red;
    text-decoration: underline;
}
.navbar  ul li:hover {
    transform: scale(1.1);
}
.navbar . ul li::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background: #9321f7;
    left: 0;
    bottom: -5px;
    transition: all 0.3s ease-in-out;
}
























main {
    padding: 20px;
    max-width: 90%;
    margin: auto;
    justify-content: left;
}
#courses{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    height: 100vh;


}

main  h1{
    display: flex;
    color: #9321f7;
}