*{
    margin:0;
    padding: 0;
    font-family:sans-serif ;
}
.signup-page{
    width: 100%;
    height: 100vh;
    display: flex;
    background: linear-gradient(whitesmoke);
    justify-content: center;
    align-items: center;
}
.signup-form{
    margin-top: 5%;
    width: 400px;
    height: 500px;
    padding: 50px;
    background-color: white;
    box-shadow: 1px 1px 4px 5px blueviolet;
    border-radius: 14px;

}
.signup-form p{
    font-size: 15px;
    font-weight: 500;
    color:black;
    margin-bottom: 3px;
    margin-left: 20px;
}
.signup-form input{
    width: 80%;
    height: 30px;
    margin-bottom: 15px;
    margin-left: 20px;
    padding: 0px 10px;
    font-size: 14px;
    border: 1px solid gray;
    border-radius: 5px;
}
.signup-form button{
    height: 35px;
    width: 100px;
    margin-left: 20px;
    margin-bottom: 20px;
    box-shadow: 1px 1px 4px 1px gray;
    background-color: blueviolet;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.signup-form button:hover{
    background-color: indigo;
}
.message{
    margin-left: 20px;
    margin-top: 20px;
    font-size: 14px;
    color: red;
    font-weight: 500;
}
#signup{
    text-align: center;
    font-size: 30px;
    margin-top: -35px;
    margin-bottom: 35px;
    color: blueviolet;
}

.footer{
    margin-left: 10px;
    margin-top: 50px;
    font-size: 14px;
    color: blueviolet;

    
}
.footer ul li{
    list-style: none;
    display: inline;
    margin: 0px 10px;
    cursor: pointer;
}
.footer ul li:hover{
    text-decoration: underline;
}
.footer a{
    text-decoration: underline;
    color: blueviolet;
    font-size: 14px;
}
.footer a:hover{
    color: black;
}

@media (max-width: 768px) {
    .signup-form {
        width: 85%;
        height: auto;
        padding: 40px 30px;
        margin-top: 10%;
    }
    
    .signup-form input {
        width: 90%;
        height: 35px;
        margin-left: 10px;
    }
    
    .signup-form p {
        margin-left: 10px;
    }
    
    .signup-form button {
        margin-left: 10px;
        width: 90%;
    }
    
    #signup {
        font-size: 24px;
        margin-top: -20px;
        margin-bottom: 25px;
    }
    
    .message {
        margin-left: 10px;
    }
}

@media (max-width: 480px) {
    .signup-form {
        width: 90%;
        padding: 30px 20px;
        height: auto;
        margin-top: 15%;
    }
    
    .signup-form input {
        width: 100%;
        height: 40px;
        margin-left: 0;
        padding: 0px 8px;
    }
    
    .signup-form p {
        margin-left: 0;
        font-size: 13px;
    }
    
    .signup-form button {
        width: 100%;
        margin-left: 0;
        height: 40px;
        font-size: 14px;
    }
    
    #signup {
        font-size: 20px;
        margin-top: -15px;
        margin-bottom: 20px;
    }
    
    .message {
        margin-left: 0;
        font-size: 12px;
    }
    
    .footer {
        margin-left: 0;
        font-size: 12px;
    }
}

