*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
main {
    margin-top: 60px;
    padding: 20px; 
}
#main-heading {
    color: blueviolet;
    font-size: 32px;
}