* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    margin-bottom: 60px;
    width: 90%;
    margin-left: auto;
}

#main-heading {
    padding: 0px;
    padding-top: 30px;
    text-align: center;
    color: blueviolet;
    font-weight: bold;
    font-size: 35px;
}

h1 {
    padding: 25px;
    color: blueviolet;
    font-weight: bold;
    font-size: 25px;
    font-weight: bold;
}

p {
    padding: 20px;
    color: black;
    font-size: 18px;
    padding-top: 0px;
    margin-left: 50px;
}

.list {
    padding-left: 150px;
    color: black;
    font-size: 18px;
    padding-bottom: 30px;
}

.list li {
    list-style-type: square;
}

.web_list,.web_types {
    padding-left: 100px;
    color: black;
}

.web_list h2,.web_types h2 {
    color: blueviolet;
    font-size: 20px;
    font-weight: bold;
}

.web_list li,.web_types li {
    list-style-type: square;
    width: 75%;
}

.web_list-top,.front-end,.back-end,.full-stack {
    padding-left: 60px;
    color: black;
    margin-bottom: 15px;
    font-size: 18px;

}

.web_list-top li {
    list-style-type: disc;
}
.languages{
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.languages li {
    list-style-type: lower-alpha;
    padding-top: 4px;
}
.languages li a {
    color: blueviolet;
    text-decoration: underline;
}
